<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png" th:href="@{/assets/img/apple-icon.png}"/>
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png" th:href="@{/assets/img/favicon.png}"/>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

    <title>
        Ensam Conge
    </title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" th:href="@{/assets/css/nucleo-icons.css}" rel="stylesheet" />
    <link href="../static/assets/css/nucleo-svg.css" th:href="@{/assets/css/nucleo-svg.css}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" th:src="@{https://kit.fontawesome.com/42d5adcbca.js}" crossorigin="anonymous"></script>
    <link href="../static/assets/css/nucleo-svg.css" th:href="@{/assets/css/nucleo-svg.css}" rel="stylesheet" />
    <!-- CSS Files -->

    <link id="pagestyle" href="../static/assets/css/soft-ui-dashboard.css?v=1.0.3" th:href="@{/assets/css/soft-ui-dashboard.css?v=1.0.3}" rel="stylesheet" />

</head>
<body class="g-sidenav-show  bg-gray-100">





    <!--   ++++++++++++++++++vnav+++++++++++++++++++ -->
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="" target="_blank">
                <img src="../static/assets/img/logo-ct.png" th:src="@{/assets/img/logo-ct.png}" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">ENSAM-CONGE</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        </div>
        <div class="sidenav-footer mx-3 ">
        </div>
    </aside>
    <!--   ++++++++++++++++++vnav+++++++++++++++++++ -->




    <!--  +++++++++++++++++++nav+++++++++++++++++++++ -->
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:">ENSAM</a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">ENSAM-CONGE</li>
                    </ol>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

                </div>
            </div>
        </nav>
    <!--  +++++++++++++++++++nav+++++++++++++++++++++ -->


<div class="container-fluid py-4">
<section layout:fragment="content">
	<!-- Put the fragment element here, login form -->
</section>
</div>

<div class="container-fluid py-4">
<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    © <script>
                    document.write(new Date().getFullYear())
                </script>
                    <a href="#" class="font-weight-bold" target="_blank"></a>
                    Mehdi MATHOR Abdsamad BEDRAN Mouhamed OUTHLOUHO.
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</main>
<hr class="horizontal dark my-1">
<div class="card-body pt-sm-3 pt-0">
<!--   Core JS Files   -->
<script src="../static/assets/js/core/popper.min.js" th:src="@{/assets/js/core/popper.min.j}"></script>
<script src="../static/assets/js/core/bootstrap.min.js" th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script src="../static/assets/js/plugins/perfect-scrollbar.min.js" th:src="@{/assets/js/plugins/perfect-scrollbar.min.js}"></script>
<script src="../static/assets/js/plugins/smooth-scrollbar.min.js" th:src="@{/assets/js/plugins/smooth-scrollbar.min.js}"></script>
<script src="../static/assets/js/plugins/chartjs.min.js" th:src="@{/assets/js/plugins/chartjs.min.js}"></script>

<script th:inline="javascript">
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../static/assets/js/soft-ui-dashboard.min.js?v=1.0.3" th:src="@{/assets/js/soft-ui-dashboard.min.js?v=1.0.3}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>