<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Administrator: Employés</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Demandes</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id='myTable' class="table align-items-center mb-0">
                                <thead>

                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employé
                                        <div >
                                            <input style='font-size:small' class=' w-75 h-75 ' type="text" id="name" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                                        </div>
                                    </th>
                                    <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Groupe
                                        <div >
                                            <select style='font-size:small;' id='groupe' onchange="myFunction2()" >
                                                <option disablade selected></option>
                                                @foreach($grps as $grp)
                                                <option value="{{$grp->Name}}">{{$grp->Name}}</option>
                                                @endforeach
                                            </select>
                                        </div>
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jours Disponibles
                                        <div>
                                            <input style='font-size:small' class='px-0  w-25 h-75 ' type="text" id="inf" onkeyup="myFunction4()" >
                                            <span class='mt-1'>&lt;x&lt;</span>
                                            <input style='font-size:small' class='px-0  w-25 h-75 ' type="text" id="sup" onkeyup="myFunction4()"  >
                                        </div>
                                    </th>
                                    <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etat de demande
                                        <div>
                                            <select style='font-size:small;' id='etat' onchange="myFunction3()" >
                                                <option disablade selected></option>
                                                <option style='font-size:small;' value="VALIDATED"> VALIDATED</option>
                                                <option style='font-size:small;' value="CREATED">CREATED</option>
                                                <option style='font-size:small;' value="APPROVED">APPROVED</option>
                                                <option style='font-size:small;' value="REFUSED">REFUSED</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th class=" text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">jours demandés
                                        <div>
                                            <input style='font-size:small' class='px-0  w-25 h-75 ' type="text" id="inf1" onkeyup="myFunction5()" >
                                            <span class='mt-1'>&lt;x&lt;</span>
                                            <input style='font-size:small' class='px-0  w-25 h-75 ' type="text" id="sup1" onkeyup="myFunction5()" >
                                        </div>
                                    </th>
                                    <th class=" text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Debut</th>
                                    <th class=" text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fin</th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>

                                @foreach($data as $value)
                                <tr>

                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="px-2 d-flex flex-column justify-content-center">
                                                <h6  style="text-transform: capitalize;" class="mb-0 text-sm">{{{$value->FullNameEmp}}}</h6>
                                                <p class="text-xs text-secondary mb-0">{{{$value->Login}}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <p  id='test' class=" align-middle text-center text-xs font-weight-bold mb-0">{{{$value->Name}}}</p>
                                    </td>

                                    <td class="align-middle text-center">
                                        <span  class="text-secondary text-xs font-weight-bold">{{{$value->AvailableDays}}}</span>
                                    </td>

                                    @if($value->State == 'validated')
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm text-white bg-gradient-success ">{{{$value->State}}}</span>
                                    </td>
                                    @elseif($value->State == 'approved')
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm text-white bg-gradient-warning">{{{$value->State}}}</span>
                                    </td>
                                    @elseif($value->State == 'refused')
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm text-white bg-gradient-danger">{{{$value->State}}}</span>
                                    </td>
                                    @else
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm text-white bg-gradient-secondary">{{{$value->State}}}</span>
                                    </td>
                                    @endif

                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{{$value->RequestDays}}}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold"><a class="text-secondary" href="{{url('/admcalendar')}}">{{date('d-m-Y', strtotime($value->start_at))}}</a></span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold"><a class="text-secondary" href="{{url('/admcalendar')}}">{{date('d-m-Y',strtotime($value->start_at)+($value->RequestDays-1)*3600*24)}}</a></span>
                                    </td>

                                    @if($value->State == 'approved')
                                    <div class="modal fade" id="{{$value->Id}}valide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div style="width:80%;" class="modal-content">

                                                <div class="modal-header">
                                                    <button style="background-color:transparent; border:none;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 style="font-size: 1rem" class="modal-title" id="myModalLabel">Confirm validation</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p>You are about to validate demande</p>
                                                    <p>Do you want to proceed?</p>
                                                    <p class="debug-url"></p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="{{url('/validate',$value->Id)}}" class="btn btn-success btn-ok">validate</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td class="align-middle">

                                        <a class="btn btn-link text-success text-gradient px-3 mb-0" data-toggle="modal" data-target="#{{$value->Id}}valide" data-placement="top" title="valider la demande" data-original-title="validate demande"><i class="fa fa-check me-2" aria-hidden="true"></i>validate</a>
                                    </td>
                                    @elseif($value->State == 'validated')
                                    <div class="modal fade" id="{{$value->Id}}cvalide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div style="width:80%;" class="modal-content">

                                                <div class="modal-header">
                                                    <button style="background-color:transparent; border:none;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 style="font-size: 1rem" class="modal-title" id="myModalLabel">Undo</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p>You are about to cancel the validation</p>
                                                    <p>Do you want to proceed?</p>
                                                    <p class="debug-url"></p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="{{url('/cancelvalidate',$value->Id)}}" class="btn btn-success btn-ok">Ok</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td class="align-middle">
                                        <a class="btn btn-link text-success text-gradient px-3 mb-0" data-toggle="modal" data-target="#{{$value->Id}}cvalide" data-placement="top" title="valider la demande" data-original-title="validate demande">validated</a>
                                    </td>
                                    @elseif($value->State == 'refused')
                                    <td class="align-middle">
                                        <span class="mx-3 text-secondary text-xs font-weight-bold">demande-refused</span>
                                    </td>
                                    @else
                                    <td class="align-middle">
                                        <span class="mx-3 text-secondary text-xs font-weight-bold">not-approved</span>
                                    </td>
                                    @endif

                                    @if($value->State == 'approved')
                                    <div class="modal fade" id="{{$value->Id}}refuse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div style="width:80%;" class="modal-content">

                                                <div class="modal-header">
                                                    <button style="background-color:transparent; border:none;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 style="font-size: 1rem" class="modal-title" id="myModalLabel">Confirm refuse</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p>You are about to refuse demande</p>
                                                    <p>Do you want to proceed?</p>
                                                    <p class="debug-url"></p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="{{url('/refuse',$value->Id)}}" class="btn btn-danger btn-ok">refuse</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td class="align-middle">
                                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" data-toggle="modal" data-target="#{{$value->Id}}refuse" data-placement="top" title="refuser la demande" data-original-title="refuse demande"><i class="fa fa-times me-2" aria-hidden="true"></i>refuse</a>
                                    </td>
                                    @elseif($value->State == 'validated')
                                    <td class="align-middle">
                                        <span class="mx-2 text-secondary text-xs font-weight-bold">already-validated</span>
                                    </td>
                                    @elseif($value->State == 'refused')
                                    <div class="modal fade" id="{{$value->Id}}crefuse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div style="width:80%;" class="modal-content">

                                                <div class="modal-header">
                                                    <button style="background-color:transparent; border:none;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 style="font-size: 1rem" class="modal-title" id="myModalLabel">Undo</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p>You are about to cancel the refuse</p>
                                                    <p>Do you want to proceed?</p>
                                                    <p class="debug-url"></p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="{{url('/cancelrefuse',$value->Id)}}" class="btn btn-danger btn-ok">Ok</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td class="align-middle">
                                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" data-toggle="modal" data-target="#{{$value->Id}}crefuse" data-placement="top" title="refuser la demande" data-original-title="refuse demande">refused</a>
                                    </td>
                                    @else
                                    <td class="align-middle">
                                        <span class="mx-2 text-secondary text-xs font-weight-bold">not-approved</span>
                                    </td>
                                    @endif
                                </tr>
                                @endforeach
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>